@font-face {
  font-family: 'Open-sans';
  src: local('Open-sans'), url(./Fonts/Open-Sans/open-sans.regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Open-sans bold';
  src: local('Open-sans bold'), url(./Fonts/Open-Sans/open-sans.bold.ttf) format('opentype');
}

.App {
  padding-top: 2.3rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


